<div class="container">
  <div class="row">
    <div class="col-lg-2">

      <div class="row mt-3">
        <h2>&nbsp;</h2>
      </div>

      <div class="row">
        <div class="container">
          <h3>Filters</h3>
          <label class="bold-heading">ID</label><br />
          <input type="text" class="form-control" [(ngModel)]="listData.id" (ngModelChange)="loadData()" placeholder="Type..." />
          <label class="bold-heading">Name</label><br />
          <input type="text" class="form-control" [(ngModel)]="listData.name" (ngModelChange)="loadData()" placeholder="Name..." />
          <br />
        </div>
      </div>

    </div>

    <div class="col-lg-10">
      <div class="row mt-3">
        <h2>Validation DB - Operating Environments</h2>
      </div>

      <!-- Main Table Row -->
      <div class="row">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let operatingEnvironment of operatingEnvironments?.data" [routerLink]="operatingEnvironment.id">
              <td>{{ operatingEnvironment.id }}</td>
              <td>{{ (operatingEnvironment.name === "") ? "---" : operatingEnvironment.name }}</td>
            </tr>
          </tbody>
        </table>
      </div><!-- Close Main Table Row -->
      <!-- Pagination Buttons Row-->
      <div class="row">
        <table class="center">
          <tr>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('first')">&lt;&lt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('previous')">&lt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('next')">&gt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('last')">&gt;&gt;</button></td>
          </tr>
          <tr>
            <td colspan="4" style="text-align:center;">Page {{ operatingEnvironments?.currentPage }} of {{ operatingEnvironments?.totalPages }} of total</td>
          </tr>
        </table>
      </div> <!-- Close Pagination Buttons Row -->

    </div>
  </div>
</div>
