<div *ngIf="workflowItem.status === 'Pending'">
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Delete Person (ID: <a class="linkUnderline" [routerLink]="['/validation-db/persons/' + workflowItem.payload.id]">{{workflowItem.payload.id}}</a>)</h5>
        <div class="card-body">
          <table class="table">
            <tr>
              <th style="border:none;">Name</th>
              <td style="border:none;">{{currentState?.name}}</td>
            </tr>
            <tr>
              <th style="border:none;">Organization</th>
              <td style="border:none;"><a [routerLink]="['/validation-db/organizations/' + currentState?.organization.id]">{{ currentState?.organization.id }} - {{ currentState?.organization.name }}</a></td>
            </tr>
          </table>
        </div>
      </div> <!-- Close Org Info Card -->
    </div> <!-- Close col-lg-6 -->

    <div class="col-lg-6">
      <app-workflow-actions [wfItem]="workflowItem"></app-workflow-actions>
    </div> <!-- Close col-lg-6 -->
  </div>

  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Phone Information</h5>
        <div class="card-body">
          <table class="table">
            <tr *ngFor="let phone of currentState?.phoneNumbers; index as i">
              <td [ngStyle]="{'border': i === 0 ? 'none' : '' }">
                <span class="bold-heading">Number</span> : {{ phone.number == null ? 'N/A' : phone.number }}<br />
                <span class="bold-heading">Type</span> : {{ phone.type == null ? 'N/A' : phone.type }}
              </td>
            </tr>
          </table>
        </div>
      </div> <!-- Close Phone Info Card -->
    </div> <!-- Close col-lg-6 -->

    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Emails</h5>
        <div class="card-body">
          <table class="table">
            <tr *ngFor="let email of currentState?.emailAddresses; index as i">
              <td [ngStyle]="{'border': i === 0 ? 'none' : '' }">{{ email }}</td>
            </tr>
          </table>
        </div>
      </div> <!-- Close Email Card -->
    </div> <!-- Close col-lg-6 -->
  </div>
</div>

<div *ngIf="workflowItem.status === 'Approved'">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Delete Person</h5>
      <div class="card-body">
        <label class="bold-heading">ID: </label>{{workflowItem?.payload.id}}
      </div>
    </div>
  </div>
</div>
