dlls
.lock.json
Debug
debug 
*.user 
*.log 
ipch 
*.TMP 
*.dbmdl 
.vs 
bin 
packages 
obj 
*.csproj.user 
*.csproj.webinfo 
*.suo 
*.o 
*.out
*.lo 
*.la 
*.al 
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
__pycache__ 
*.rej 
*~ 
#*# 
.#* 
.*.swp 
.DS_Store 
[Tt]humbs.db 
tempIntegrationTests 
temp_IntegrationTests
temp_integrationTests
*.dll
LoggingTests
orleans-master
gen-val-*.zip
Import Schema Logs 
*.jfm
*.idea
*.tlog
*.iobj
*.ipdb
*.pdb
*.obj
*.dylib
*.local.json
/Directory.Build.props
/Directory.Packages.props
version.txt
gen-val/src/solutions/all/qodana.yaml
