dlls
.lock.json
Debug
debug 
*.user 
*.log 
ipch 
*.TMP 
*.dbmdl 
.vs 
bin 
packages 
obj 
*.csproj.user 
*.csproj.webinfo 
*.suo 
*.o 
*.lo 
*.la 
*.al 
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
__pycache__ 
*.rej 
*~ 
#*# 
.#* 
.*.swp 
.DS_Store 
[Tt]humbs.db 
tempIntegrationTests 
temp_IntegrationTests
*.dll
LoggingTests
orleans-master
src/pool-api/NIST.CVP.PoolAPI/Pools/
!src/pool-api/NIST.CVP.PoolAPI/Pools/poolConfig.json
gen-val-*.zip
*.jfm