<div class="container">
  <div class="row mt-3">
    <h2>
      Workflow {{ workflowItem?.workflowItemID}} -
      <span *ngIf="workflowItem?.status == 'Pending'" style="color:#dba100;">{{ workflowItem?.status }}</span>
      <span *ngIf="workflowItem?.status == 'Incomplete'" style="color:#dba100;">{{ workflowItem?.status }}</span>
      <span *ngIf="workflowItem?.status == 'Approved'" style="color:#028a00;">{{ workflowItem?.status }}</span>
      <span *ngIf="workflowItem?.status == 'Rejected'" style="color:#8a0000;">{{ workflowItem?.status }}</span>
    </h2>
  </div>

  <app-workflow-dependency-create *ngIf="workflowItem?.apiAction === 'CreateDependency'" [wfItem]="workflowItem"></app-workflow-dependency-create>
  <app-workflow-organization-create *ngIf="workflowItem?.apiAction === 'CreateVendor'" [wfItem]="workflowItem"></app-workflow-organization-create>
  <app-workflow-oe-create *ngIf="workflowItem?.apiAction === 'CreateOE'" [wfItem]="workflowItem"></app-workflow-oe-create>
  <app-workflow-person-create *ngIf="workflowItem?.apiAction === 'CreatePerson'" [wfItem]="workflowItem"></app-workflow-person-create>
  <app-workflow-product-create *ngIf="workflowItem?.apiAction === 'CreateImplementation'" [wfItem]="workflowItem"></app-workflow-product-create>
  <!--<app-workflow-validation-create *ngIf="workflowItem?.apiAction === 'CertifyTestSession'" [wfItem]="workflowItem"></app-workflow-validation-create>-->

  <app-workflow-dependency-update *ngIf="workflowItem?.apiAction === 'UpdateDependency'" [wfItem]="workflowItem"></app-workflow-dependency-update>
  <app-workflow-oe-update *ngIf="workflowItem?.apiAction === 'UpdateOE'" [wfItem]="workflowItem"></app-workflow-oe-update>
  <app-workflow-organization-update *ngIf="workflowItem?.apiAction === 'UpdateVendor'" [wfItem]="workflowItem"></app-workflow-organization-update>
  <app-workflow-person-update *ngIf="workflowItem?.apiAction === 'UpdatePerson'" [wfItem]="workflowItem"></app-workflow-person-update>
  
</div>
