<!-- Page Content -->
<div class="container">

  <div class="row mt-3">

    <!-- Recent Requests Column -->
    <div id="disclaimerDialog" class="col-md-8">
      <h2>Notice &amp; Consent</h2>
      <p>
        You are accessing a U.S. Government information system, which includes:
      </p>
      <ol>
        <li> this computer,</li>
        <li> this computer network,</li>
        <li> all Government-furnished computers connected to this network, and </li>
        <li> all Government-furnished devices and storage media attached to this network or to a computer on this network.</li>
      </ol>
      <p>
        You understand and consent to the following: you may access this information system for authorized use only;
        unauthorized use of the system is prohibited and subject to criminal and civil penalties; you have no reasonable
        expectation of privacy regarding any communication or data transiting or stored on this information system at any time
        and for any lawful Government purpose, the Government may monitor, intercept, audit, and search and seize any communication
        or data transiting or stored on this information system; and any communications or data transiting or stored on this information
        system may be disclosed or used for any lawful Government purpose. This information system may contain Controlled Unclassified Information (
        CUI) that is subject to safeguarding or dissemination controls in accordance with law, regulation, or Government-wide policy.
        Accessing and using this system indicates your understanding of this warning.
      </p>
      <div>
        <input type="submit" value="OK" (click)="acceptDisclaimer()" class="btn btn-primary">
      </div>
    </div>

  </div>
</div>
<!-- /.row -->
