<div class="container">

  <!--Row containing all the page content.  i.e. two columns -->
  <div class="row mt-3">

    <!-- The lefthand column containing a table of sessions -->
    <div class="col-lg-6">

      <!-- Row just for the page title-->
      <div class="mt-3">
        <table width="100%">
          <tr>
            <td width="70%"><h2>ACVP Test Sessions</h2></td>
            <td width="30%" style="text-align:right;"><a href="" data-toggle="collapse" data-target="#TestSessionFilters">Filters</a></td>
          </tr>
        </table>
      </div>

      <div id="TestSessionFilters" class="collapse">
        <label class="bold-heading">TS Status</label><br />
        <select class="form-control" #selectList (change)="setTestSessionStatus(selectList.value)">
          <option (click)="setTestSessionStatus('All')" value="All">All</option>
          <option *ngFor="let status of TestSessionStatus?.values()" (click)="setTestSessionStatus(status)" value="{{status}}">
            {{status}}
          </option>
        </select>
        <div class="row mt-3">
          <div class="col-lg-6">
            <label class="bold-heading">TSID</label><br />
            <input type="text" class="form-control" [(ngModel)]="listData.TestSessionId" (ngModelChange)="loadData()" placeholder="TSID..." />
          </div>
          <div class="col-lg-6">
            <label class="bold-heading">VSID</label><br />
            <input type="text" class="form-control" [(ngModel)]="listData.VectorSetId" (ngModelChange)="loadData()" placeholder="VSID..." />
          </div>
        </div>

      </div>
      <table class="table mt-3">
        <thead class="thead-light">
          <tr>
            <th scope="col">TSID</th>
            <th scope="col">Created</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let session of sessions?.data" [ngClass]="(session.testSessionId == selectedSession?.testSessionId) ? 'table-active' : ''" (click)="setSelectedSession(session.testSessionId)">
            <th scope="row">{{session?.testSessionId}}</th>
            <td>{{session?.created | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{session?.status}}</td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        Page {{sessions?.currentPage}} of {{ sessions?.totalPages }}
      </div>

      <nav aria-label="Pagination Buttons">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" (click)="getPage('first')" aria-label="First">
              <span>&lt;&lt;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="getPage('previous')" aria-label="Previous">
              <span>&lt;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" (click)="getPage('next')">&gt;</a></li>
          <li class="page-item"><a class="page-link" (click)="getPage('last')">&gt;&gt;</a></li>
        </ul>
      </nav>
    </div>

    <!-- The righthand column, containing the details of a given selected session -->
    <!-- This ng-if format is from here: https://stackoverflow.com/questions/37111005/how-to-check-empty-object-in-angular-2-template-using-ngif/54400604 -->
    <div class="col-lg-6" *ngIf="selectedSession != null">

      <div class="col-lg-12">
        <div class="mt-3">
          <h2>Test Session #{{selectedSession?.testSessionId}}</h2>
        </div>
        <div class="card mt-3">
          <div class="card-header bold-heading">
            Details
          </div>
          <div class="card-body">
            <span class="bold-heading">Created On:</span> {{ selectedSession?.created | date:'yyyy-MM-dd HH:mm' }}<br />
            <span class="bold-heading">User:</span> {{ selectedSession?.userName }}<br />
            <span class="bold-heading">Status:</span> {{ selectedSession?.status }}<br />
            <span class="bold-heading">Sample:</span> {{ selectedSession?.isSample }}
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-3">
        <div class="card">
          <div class="card-header bold-heading">
            Vector Sets
          </div>
          <div class="card-body">
            <div style="min-height:250px;">
              <table class="table table-hover">
                <tr>
                  <th>vsID</th>
                  <th>Algorithm</th>
                  <th>Generator</th>
                  <th>Status</th>
                </tr>
                <ng-container *ngFor="let vectorSet of selectedSession?.vectorSets; let i = index">
                  <tr data-toggle="collapse" [attr.data-target]="'#collapse' + vectorSet.id">
                    <td>{{ vectorSet.id }}</td>
                    <td>{{ vectorSet.algorithm }}</td>
                    <td>{{ vectorSet.generatorVersion }}</td>
                    <td>{{ vectorSet.status }}</td>
                  </tr>
                  <tr [attr.id]="'collapse' + vectorSet.id" class="collapse">
                    <td colspan="5">
                      <p *ngIf="vectorSet.jsonFilesAvailable.length == 0">No Files Available</p>
                      <p *ngIf="vectorSet.jsonFilesAvailable.length > 0">Available Files:</p>
                      <ul>
                        <li *ngFor="let file of vectorSet.jsonFilesAvailable"><a [attr.href]="'/api/testSessions/vectorSet/' + vectorSet.id + '/json/' + file.type" [attr.target]="'_blank'">{{file.type}}</a> - {{ file.createdOn | date:'yyyy-MM-dd HH:mm' }}</li>
                      </ul>
                      <div *ngIf="vectorSet.resetOption !== 'None'">
                        <button type="button" *ngIf="vectorSet.resetOption === 'ResetToGenerate'" class="btn btn-warning" (click)="queueGeneration(vectorSet.id, selectedSession?.testSessionId)">Queue Generation</button>
                        <button type="button" *ngIf="vectorSet.resetOption === 'ResetToValidate'" class="btn btn-warning" (click)="queueValidation(vectorSet.id, selectedSession?.testSessionId)">Queue Validation</button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Close Row -->

  </div>
</div>
