<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <div class="row mt-3">
        <h2>ACVP Message Queue</h2>
      </div>

      <!-- Main Table Row -->
      <div class="row mt-3">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Type</th>
              <th>Created</th>
              <th>Length</th>
              <th>Payload</th>
              <th style="text-align:center;">Delete</th>
            </tr>
          </thead>
          <tbody *ngIf="messageQueue?.data.length > 0">
            <tr *ngFor="let message of messageQueue?.data">
              <td>{{ message.id }}</td>
              <td>{{ message.status }}</td>
              <td>{{ message.apiAction }}</td>
              <td>{{ message.createdOn  | date:'yyyy-MM-dd HH:mm'}}</td>
              <td>{{ message.length }}</td>
              <td><a [attr.href]="'/api/MessageQueue/' + message.id" [attr.target]="'_blank'">Download</a></td>
              <td style="text-align:center;"><button class="btn btn-sm btn-danger" (click)="deleteMessage(message.id)">X</button></td>
            </tr>
          </tbody>
          <tbody *ngIf="messageQueue?.data.length === 0">
            <tr><td colspan="7" align="center">No messages</td></tr>
          </tbody>
        </table>
      </div><!-- Close Main Table Row -->
    </div>
  </div>
</div>
