<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="row mt-3">
        <h3>Filters</h3>
      </div>
      <div class="row mt-3">
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-lg-10">
      <div class="row mt-3">
        <h2>Validation DB - Dependencies</h2>
      </div>

      <!-- Main Table Row -->
      <div class="row">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let organization of organizations?.data" [routerLink]="organization.id">
              <td>{{ organization.id }}</td>
              <td>{{ (organization.name === "" || organization.name == null) ? "---" : organization.name }}</td>
              <td>{{ (organization.url === "" || organization.name == null) ? "---" : organization.url }}</td>
            </tr>
          </tbody>
        </table>
      </div><!-- Close Main Table Row -->
      <!-- Pagination Buttons Row-->
      <div class="row">
        <table class="center">
          <tr>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('first')">&lt;&lt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('previous')">&lt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('next')">&gt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('last')">&gt;&gt;</button></td>
          </tr>
          <tr>
            <td colspan="4" style="text-align:center;">Page {{ organizations?.currentPage }} of {{ organizations?.totalPages }}</td>
          </tr>
        </table>
      </div> <!-- Close Pagination Buttons Row -->

    </div>
  </div>
</div>
