
<div class="row mt-3">
  <h2>Workflow {{ workflowItem.workflowItemID}} - {{ workflowItem.status}}</h2>
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Create New Product</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th style="border:none;">Name</th>
            <td style="border:none;">{{workflowItem?.payload.name}}</td>
          </tr>
          <tr>
            <th>Version</th>
            <td>{{workflowItem?.payload.version == null ? "No Parent" : workflowItem?.payload.version}}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{workflowItem?.payload.type == null ? "No Parent" : workflowItem?.payload.type}}</td>
          </tr>
          <tr>
            <th>URL</th>
            <td>{{workflowItem?.payload.link == null ? "No Parent" : workflowItem?.payload.link}}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{workflowItem?.payload.description == null ? "No Parent" : workflowItem?.payload.description}}</td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Product Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Available Actions</h5>
      <div class="card-body">
        <table class="table" style="">
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-primary" style="width:80%;">&#10004; Approve</button></td>
          </tr>
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-danger" style="width:80%;">&#10006; Reject</button></td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Available Actions Card -->
  </div> <!-- Close col-lg-6 -->
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Vendor Information</h5>
      <div class="card-body">
        <a [routerLink]="['/validation-db/organizations/' + workflowItem.payload.vendor.id]">{{ workflowItem.payload.vendor.id }} - {{ workflowItem.payload.vendor.name }}</a>
      </div>
    </div> <!-- Close Phone Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Contacts</h5>
      <div class="card-body">
        <table class="table" style="">
          <tr *ngFor="let contact of workflowItem?.payload?.contacts; index as i">
            <td [ngStyle]="{'border': i === 0 ? 'none' : '' }">
              <a [routerLink]="['/validation-db/persons/' + contact.person.id]">{{contact?.person?.id}} - {{ contact?.person?.name }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Email Card -->
  </div> <!-- Close col-lg-6 -->
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Address</h5>
      <div class="card-body">
        <div *ngIf="workflowItem.payload.addressUrl != null">
          {{ workflowItem?.payload?.address?.street1}}<br />
          {{ workflowItem?.payload?.address?.street2 !== null ? workflowItem?.payload?.address?.street2 : '' }}<br *ngIf="workflowItem?.payload?.address?.street2 !== null" />
          {{ workflowItem?.payload?.address?.street3 !== null ? workflowItem?.payload?.address?.street3 : '' }}<br *ngIf="workflowItem?.payload?.address?.street3 !== null" />
          {{workflowItem?.payload?.address?.locality}} {{workflowItem?.payload?.address?.region}}, {{workflowItem?.payload?.address?.country}} {{workflowItem?.payload?.address?.postalCode}}
        </div>
        <div *ngIf="workflowItem.payload.addressUrl == null">
          No Address Provided
        </div>
      </div>
    </div> <!-- Close Address Info Card -->
  </div> <!-- Close col-lg-6 -->
</div>
