<div class="container">
  <div class="row mt-3">
    <div class="col-lg-12">
      <h2>#{{ selectedOrganization?.id }} - {{ selectedOrganization?.name }}</h2>
    </div>
  </div>
  <div class="row mt-3">

    <div class="col-lg-6">
      <!-- OE Information Card-->
      <div class="card">
        <h5 class="card-header">Organization Information</h5>
        <div class="card-body">
          <p class="card-text">
            <!-- These ngModel expressions are using a workaround for a known weakness: https://github.com/angular/angular/issues/7697 -->
            <label class="bold-heading">Name</label><input [(ngModel)]="referenceCopyOrganization && referenceCopyOrganization.name" type="text" class="form-control" />
            <label class="bold-heading mt-3">URL</label><input [(ngModel)]="referenceCopyOrganization && referenceCopyOrganization.url" type="text" class="form-control" />
            <label class="bold-heading mt-3">Voice Number</label><input [(ngModel)]="referenceCopyOrganization && referenceCopyOrganization.voiceNumber" type="text" class="form-control" placeholder="Empty..." />
            <label class="bold-heading mt-3">Fax Number</label><input [(ngModel)]="referenceCopyOrganization && referenceCopyOrganization.faxNumber" type="text" class="form-control" placeholder="Empty..." />
          </p>
          <button class="btn btn-primary" (click)="updateOrganization()" style="float:left;margin-right:10px;">Apply Changes</button>
          <div *ngIf="updateStatusFlag === 'processing'">
            <div class="spinner-border spinner-border-sm text-warning"></div><span style="margin-left:10px;">Processing...</span>
          </div>
          <div *ngIf="updateStatusFlag === 'successful'">
            <div class="text-success" style="float:left;">√</div><span style="margin-left:10px;">Success!</span>
          </div>
        </div>
      </div> <!-- Close OE Information Card -->
    </div>

    <div class="col-lg-6">
      <!-- OE Information Card-->
      <div class="card">
        <h5 class="card-header">Associated Persons</h5>
        <div class="card-body">
            <!-- This is only here to avoid getting a few "not defined" errors before the AJAX returns -->
          <table class="table" *ngIf="selectedOrganization">
            <tbody>
              <tr *ngFor="let person of selectedOrganization?.persons">
                <td><a [routerLink]="['/validation-db/persons/',person.id]">View</a></td>
                <td>{{ person?.name }}</td>
                <td width="5%"><button class="btn btn-primary btn-sm bold-heading">x</button></td>
              </tr>
              <tr></tr>
            </tbody>
          </table>
          <p *ngIf="selectedOrganization?.persons?.length == 0">No Persons</p>
        </div>
      </div> <!-- Close OE Information Card -->
    </div>

  </div>
  <!-- Close Row -->
  <!-- Second Row, containing Dependency table -->
  <div class="row mt-3">
    <div class="col-lg-12">
      <!-- Dependency Attribute Card-->
      <div class="card">
        <h5 class="card-header">Addresses</h5>
        <div class="card-body">
          <table class="table">
            <!-- This is only here to avoid getting a few "not defined" errors before the AJAX returns -->
            <tbody *ngIf="selectedOrganization">
              <tr *ngFor="let address of selectedOrganization.addresses; index as i">
                <td>
                  {{ address.street1 }}<br />
                  <span *ngIf="address.street2 != null">{{ address.street2 }}<br /></span>
                  <span *ngIf="address.street3 != null">{{ address.street3 }}<br /></span>
                  {{ address.locality }}, {{ address.region }}, {{ address.country }} {{ address.postalCode }}
                </td>
                <td width="5%"><button class="btn btn-primary btn-sm bold-heading" (click)="deleteAddressAtIndex(i)">x</button></td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" (click)="raiseNewAddressModal()" style="float:right;"><span class="bold-heading">New +</span></button>
        </div>
      </div>
    </div>
  </div>

  <div id="newAddressModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New Address</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <label class="bold-heading mt-3">Street 1</label><input [(ngModel)]="newAddressData && newAddressData.street1" type="text" class="form-control" />
              <label class="bold-heading mt-3">Street 2</label><input [(ngModel)]="newAddressData && newAddressData.street2" type="text" class="form-control" />
              <label class="bold-heading mt-3">Street 3</label><input [(ngModel)]="newAddressData && newAddressData.street3" type="text" class="form-control" />
              <label class="bold-heading mt-3">Locality</label><input [(ngModel)]="newAddressData && newAddressData.locality" type="text" class="form-control" />
              <label class="bold-heading mt-3">Region</label><input [(ngModel)]="newAddressData && newAddressData.region" type="text" class="form-control" />
              <label class="bold-heading mt-3">Country</label><input [(ngModel)]="newAddressData && newAddressData.country" type="text" class="form-control" />
              <label class="bold-heading mt-3">Postal Code</label><input [(ngModel)]="newAddressData && newAddressData.postalCode" type="text" class="form-control" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitNewAddress()">Apply</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
