<div class="container">
  <div class="row mt-3">
    <div class="col-lg-12">
      <h2>{{selectedValidation?.validationLabel}} (ID {{selectedValidation?.validationId}})</h2>
    </div>
  </div>
  <div class="row mt-3">

    <div class="col-lg-6">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h5>Validation Information</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <!-- These ngModel expressions are using a workaround for a known weakness: https://github.com/angular/angular/issues/7697 -->
              <label class="bold-heading">Implementation Name</label><br />
              <a routerLink="/validation-db/products/{{selectedValidation?.implementationID}}">{{selectedValidation?.implementationName}}</a>
              <br /><br />
              <label class="bold-heading">Created</label><br />
              {{selectedValidation?.createdOn}}
              <br /><br />
              <label class="bold-heading">Updated</label><br />
              {{selectedValidation?.updated}}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h5>OE Information</h5>
          </div>
          <div class="card-body">
            <a [attr.href]="'/api/validations/' + selectedValidation?.validationId + '/oes'" [attr.target]="'_blank'">Download Raw OE Data</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h5>Vendor Information</h5>
          </div>
          <div class="card-body">
            <!-- These ngModel expressions are using a workaround for a known weakness: https://github.com/angular/angular/issues/7697 -->
            <label class="bold-heading">Name</label><br />
            {{organization?.name}}
            <br /><br />
            <label class="bold-heading">URL</label><br />
            {{organization?.url}}
            <br /><br />
            <label class="bold-heading">Emails</label><br />
            <ul *ngIf="organization?.emails.length > 0">
              <li *ngFor="let email of organization?.emails">{{email}}</li>
            </ul>
            <span *ngIf="organization?.emails.length === 0">No emails provided</span>
            <br /><br />
            <label class="bold-heading">Voice Number</label><br />
            {{((organization?.voiceNumber !== "" && organization?.voiceNumber !== null) ? organization?.voiceNumber : "N/A")}}
            <br /><br />
            <label class="bold-heading">Fax Number</label><br />
            {{((organization?.faxNumber !== "" && organization?.faxNumber !== null) ? organization?.faxNumber : "N/A")}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="card" style="width:100%">
      <div class="card-header">
        <h5>Validation OE Algorithms</h5>
      </div>
      <table class="voa table-striped table-condensed">
        <thead>
          <tr>
            <th>OE</th>
            <th>Algorithm</th>
            <th>Date</th>
            <th>Capabilities</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let validationOEAlgorithm of validationOEAlgorithms">
            <td>{{ validationOEAlgorithm.oeDisplay }}</td>
            <td class="text-nowrap">{{ validationOEAlgorithm.algorithmDisplayName }}</td>
            <td class="text-nowrap" title="{{ validationOEAlgorithm.createdOn }}">{{ validationOEAlgorithm.createdOn | date}}</td>
            <td class="text-nowrap"><span (click)="LoadCapabilities(validationOEAlgorithm)" [hidden]="validationOEAlgorithm.capabilitiesExpanded">Show</span><span (click)="LoadCapabilities(validationOEAlgorithm)" [hidden]="!validationOEAlgorithm.capabilitiesExpanded">Hide</span><span [hidden]="!validationOEAlgorithm.capabilitiesExpanded" innerHtml="{{validationOEAlgorithm.capabilityHTML}}"></span></td>
          </tr>
        </tbody>
      </table>
      <!--<ul class="list-group list-group-flush accordion" id="accordion">
        <li class="card" *ngFor="let validationOEAlgorithm of validationOEAlgorithms">
          <div id="headingOne">
            <button class="btn btn-link collapsed" data-toggle="collapse" attr.data-target="#collapse{{validationOEAlgorithm.validationOEAlgorithmID}}" aria-expanded="true" aria-controls="collapseOne">
              {{ validationOEAlgorithm.oeDisplay }} {{ validationOEAlgorithm.algorithmDisplayName }}
            </button>
          </div>
          <div attr.id="collapse{{validationOEAlgorithm.validationOEAlgorithmID}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

            {{validationOEAlgorithm.validationOEAlgorithmID}}

          </div>
        </li>
      </ul>-->
      <!--<div class="card-body" id="accordion">
      <div class="card" *ngFor="let validationOEAlgorithm of validationOEAlgorithms">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" attr.data-target="#collapse{{validationOEAlgorithm.validationOEAlgorithmID}}" aria-expanded="true" aria-controls="collapseOne">
              {{ validationOEAlgorithm.oeDisplay }} {{ validationOEAlgorithm.algorithmDisplayName }}
            </button>
          </h5>
        </div>
        <div attr.id="collapse{{validationOEAlgorithm.validationOEAlgorithmID}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {{validationOEAlgorithm.validationOEAlgorithmID}}
          </div>
        </div>
      </div>-->
      <!--<div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>

