<div class="container">
  <div class="row">
    <div class="col-lg-2">

      <div class="row mt-3">
        <h2>&nbsp;</h2>
      </div>

      <div class="row">
        <div class="container">
          <h3>Filters</h3>
          <label class="bold-heading">Name</label><br />
          <input type="text" class="form-control" [(ngModel)]="listData.name" (ngModelChange)="loadData()" placeholder="Name..." />
          <br />
          <label class="bold-heading">Type</label><br />
          <input type="text" class="form-control" [(ngModel)]="listData.type" (ngModelChange)="loadData()" placeholder="Type..." />
          <br />
          <label class="bold-heading">Description</label><br />
          <input type="text" class="form-control" [(ngModel)]="listData.description" (ngModelChange)="loadData()" placeholder="Description..." />
        </div>
      </div>

    </div>

    <div class="col-lg-10">
      <div class="row mt-3">
        <h2>Validation DB - Dependencies</h2>
      </div>

      <!-- Main Table Row -->
      <div class="row">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dependency of dependencies?.data" [routerLink]="dependency.id" data-toggle="tooltip" data-placement="top" title="{{dependency.name}}">
              <td>{{ dependency.id }}</td>
              <td>
                <span *ngIf="dependency.name === ' ' || dependency.name === null">---</span>
                <span *ngIf="dependency.name !== ' ' && dependency.name !== null">
                  {{ dependency.name.substring(0,40) }}
                  <span *ngIf="dependency.name.length > 35">...</span>
                </span>
              </td>
              <td>
                <span *ngIf="dependency.type === ' ' || dependency.type === null">---</span>
                <span *ngIf="dependency.type !== ' ' && dependency.type !== null">
                  {{ dependency.type.substring(0,10) }}
                  <span *ngIf="dependency.type.length > 35">...</span>
                </span>
              </td>
              <td>
                <span *ngIf="dependency.description === ' ' || dependency.description === null">---</span>
                <span *ngIf="dependency.description !== ' ' && dependency.description !== null">
                  {{ dependency.description.substring(0,40) }}
                  <span *ngIf="dependency.description.length > 35">...</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- Close Main Table Row -->

      <!-- Pagination Buttons Row-->
      <div class="row">
        <table class="center">
          <tr>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('first')">&lt;&lt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('previous')">&lt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('next')">&gt;</button></td>
            <td><button class="btn btn-primary bold-heading" (click)="getPage('last')">&gt;&gt;</button></td>
          </tr>
          <tr>
            <td colspan="4" style="text-align:center;">Page {{ dependencies?.currentPage }} of {{ dependencies?.totalPages }}</td>
          </tr>
        </table>
      </div> <!-- Close Pagination Buttons Row -->

    </div>
  </div>
</div>
