<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Certify Test Session</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th style="border:none;">Name</th>
            <td style="border:none;">{{workflowItem?.payload.product?.name}}</td>
          </tr>
          <tr>
            <th>Version</th>
            <td>{{workflowItem?.payload.product?.version == null ? "No Version" : workflowItem?.payload.product?.version}}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{workflowItem?.payload.product?.type == null ? "No Type" : workflowItem?.payload.product?.type}}</td>
          </tr>
          <tr>
            <th>URL</th>
            <td>{{workflowItem?.payload.product?.link == null ? "No URL" : workflowItem?.payload.product?.link}}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{workflowItem?.payload.product?.description == null ? "No Description" : workflowItem?.payload.product?.description}}</td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Product Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-6">
    <app-workflow-actions [wfItem]="workflowItem"></app-workflow-actions>
  </div> <!-- Close col-lg-6 -->
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Operating Environment</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th style="border:none;">Name</th>
            <td style="border:none;">{{ workflowItem?.payload.oe?.name == null ? '[No Name Provided!]' :  workflowItem?.payload.oe?.name }}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{ workflowItem?.payload.oe?.type == null ? 'N/A' :  workflowItem?.payload.oe?.type }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ workflowItem?.payload.oe?.description == null ? 'N/A' :  workflowItem?.payload.oe?.description }}</td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-3">
    <div class="card">
      <h5 class="card-header">Algoprithm Prerequisites</h5>
      <div class="card-body">
        Not yet implemented
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div>

  <div class="col-lg-3">
    <div class="card">
      <h5 class="card-header">Capabilites</h5>
      <div class="card-body">
        Not yet implemented
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div>

</div>
