<div class="container">
  <div class="row mt-3">
    <div class="col-lg-12">
      <h2>#{{ selectedProduct?.id }} - {{ selectedProduct?.name }}</h2>
    </div>
  </div>
  <div class="row mt-3">

    <div class="col-lg-6">
      <!-- Product Information Card-->
      <div class="card">
        <div class="card-header">
          <h5>Product Information</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <!-- These ngModel expressions are using a workaround for a known weakness: https://github.com/angular/angular/issues/7697 -->
            <label class="bold-heading">Name</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.name" type="text" class="form-control" />
            <label class="bold-heading mt-3">Version</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.version" type="text" class="form-control" />
            <label class="bold-heading mt-3">Type</label>
            <select [(ngModel)]="referenceCopyProduct && referenceCopyProduct.type" class="form-control">
              <option>HARDWARE</option>
              <option>FIRMWARE</option>
              <option>SOFTWARE</option>
              <option>UNKNOWN</option>
            </select>
            <label class="bold-heading mt-3">ITAR&nbsp;</label>{{referenceCopyProduct?.itar }}<br />
            <label class="bold-heading mt-3">Description</label><textarea [(ngModel)]="referenceCopyProduct && referenceCopyProduct.description" type="text" class="form-control" placeholder="(Empty Description)" rows="4"></textarea>
          </p>
          <button class="btn btn-primary" (click)="updateProduct()" style="float:left;margin-right:10px;">Apply Changes</button>
          <div *ngIf="updateStatusFlag === 'processing'">
            <div class="spinner-border spinner-border-sm text-warning"></div><span style="margin-left:10px;">Processing...</span>
          </div>
          <div *ngIf="updateStatusFlag === 'successful'">
            <div class="text-success" style="float:left;">√</div><span style="margin-left:10px;">Success!</span>
          </div>
        </div>
      </div> <!-- Close Product Information Card -->
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <!-- Vendor Information Card-->
          <div class="card">
            <div class="card-header clearfix align-middle">
              <h5 style="float:left;">Vendor Information</h5>
              <button class="btn btn-primary text-right" routerLink="/validation-db/Organizations/{{referenceCopyProduct?.vendor?.id}}" style="float:right;">View Vendor</button>
            </div>
            <div class="card-body">
              <table style="width:100%">
                <tr>
                  <td width="15%"><label class="bold-heading">Name:</label></td>
                  <td>{{referenceCopyProduct?.vendor?.name}}</td>
                </tr>
                <tr>
                  <td><label class="bold-heading">URL:</label></td>
                  <td>{{referenceCopyProduct?.vendor?.url}}</td>
                </tr>
                <tr>
                  <td><label class="bold-heading">Voice:</label></td>
                  <td>{{(referenceCopyProduct?.vendor?.voiceNumber == null ? "N/A" : referenceCopyProduct?.vendor?.voiceNumber)}}</td>
                <tr>
                  <td><label class="bold-heading">Fax:</label></td>
                  <td>{{(referenceCopyProduct?.vendor?.faxNumber == null ? "N/A" : referenceCopyProduct?.vendor?.faxNumber)}}</td>
                </tr>
              </table>
            </div>
          </div> <!-- Close Vendor Information Card -->
        </div>
      </div>
      <!-- Second Row, containing Dependency table -->
      <div class="row mt-3">
        <div class="col-lg-12">
          <!-- Dependency Attribute Card-->
          <div class="card">
            <h5 class="card-header">Address</h5>
            <div class="card-body">
              <label class="bold-heading">Street 1</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.address.street1" type="text" class="form-control" placeholder="(Empty)" />
              <label class="bold-heading mt-1">Street 2</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.address.street2" type="text" class="form-control" placeholder="(Empty)" />
              <label class="bold-heading mt-1">Street 3</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.address.street3" type="text" class="form-control" placeholder="(Empty)" />
              <label class="bold-heading mt-1">Locality</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.address.locality" type="text" class="form-control" placeholder="(Empty)" />
              <label class="bold-heading mt-1">Region</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.address.region" type="text" class="form-control" placeholder="(Empty)" />
              <label class="bold-heading mt-1">Country</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.address.country" type="text" class="form-control" placeholder="(Empty)" />
              <label class="bold-heading mt-1">Postal Code</label><input [(ngModel)]="referenceCopyProduct && referenceCopyProduct.address.postalCode" type="text" class="form-control" placeholder="(Empty)" />
              <button class="btn btn-primary mt-3" (click)="updateAddress()" style="float:left;margin-right:10px;">Apply Changes</button>
              <div *ngIf="updateAddressStatusFlag === 'processing'">
                <div class="spinner-border spinner-border-sm text-warning"></div><span style="margin-left:10px;">Processing...</span>
              </div>
              <div *ngIf="updateAddressStatusFlag === 'successful'">
                <div class="text-success" style="float:left;">√</div><span style="margin-left:10px;">Success!</span>
              </div>
            </div>
          </div> <!-- Close Dependency Attribute Card -->
        </div>
      </div>
    </div>

  </div>
  <!-- Close Row -->
  

</div>
