<div *ngIf="workflowItem.status === 'Pending'">
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Delete Dependency (ID: <a class="linkUnderline" [routerLink]="['/validation-db/dependencies/' + workflowItem.payload.id]">{{workflowItem.payload.id}}</a>)</h5>
        <div class="card-body">
          <table class="table">
            <tr>
              <th style="border:none;">Name</th>
              <td style="border:none;">{{currentState?.name}}</td>
            </tr>
            <tr>
            <tr>
              <th>Type</th>
              <td>{{currentState?.type}}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{currentState?.description}}</td>
            </tr>
          </table>
        </div>
      </div> <!-- Close Dependency Info Card -->
    </div> <!-- Close col-lg-6 -->

    <div class="col-lg-6">
      <app-workflow-actions [wfItem]="workflowItem"></app-workflow-actions>
    </div> <!-- Close col-lg-6 -->
  </div>

  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">(Optional) User-Defined Attributes</h5>
        <div class="card-body">
          <table class="table" *ngIf="currentState != null">
            <tr *ngFor="let attribute of currentState?.attributes">
              <th style="border:none;">
                {{ attribute.name }}
              </th>
              <td style="border:none;">
                {{ attribute.value }}
              </td>
            </tr>
          </table>
        </div>
      </div> <!-- Close Dependency Info Card -->
    </div> <!-- Close col-lg-6 -->
  </div>
</div>

<div *ngIf="workflowItem.status === 'Approved'">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Delete Dependency</h5>
      <div class="card-body">
        <label class="bold-heading">ID: </label>{{workflowItem?.payload.id}}
      </div>
    </div>
  </div>
</div>
