<div class="row mt-3">
  <div class="col-lg-9">
    <div class="card">
      <h5 class="card-header">Update Person ({{workflowItem.payload.id}})</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th style="border:none;"></th>
            <th style="border:none;">Existing</th>
            <th style="border:none;">Update</th>
          </tr>
          <tr *ngIf="workflowItem.payload.nameUpdated == true">
            <th>Name</th>
            <td>{{ currentState?.name == "" || currentState?.name == null ? "(Empty)" : currentState?.name }}</td>
            <td>{{ workflowItem?.payload.fullName == "" || workflowItem?.payload.fullName == null ? "(Empty)" : workflowItem?.payload.fullName }}</td>
          </tr>
          <tr *ngIf="workflowItem.payload.nameUpdated == false">
            <th>Name</th>
            <td>{{ currentState?.name == "" || currentState?.name == null ? "(Empty)" : currentState?.name }}</td>
            <td>(No Changes)</td>
          </tr>
          <tr *ngIf="workflowItem.payload.organizationURLUpdated == true">
            <th>Organization</th>
            <td>
              <p *ngIf="currentState?.organization.name == '' || currentState?.organization.name == null">(Empty)</p>
              <p *ngIf="currentState?.organization.name != '' && currentState?.organization.name != null"><a [routerLink]="['/validation-db/organizations/' + currentState.organization.id]">{{ currentState?.organization.name }}</a></p>
            </td>
            <td>
              <p *ngIf="workflowItem?.payload?.organization?.name == '' || workflowItem?.payload?.organization?.name == null">(Empty)</p>
              <p *ngIf="workflowItem?.payload?.organization?.name != '' && workflowItem?.payload?.organization?.name != null "><a [routerLink]="['/validation-db/organizations/' + workflowItem.payload.organization.id]">{{ workflowItem?.payload?.organization?.name }}</a></p>
            </td>
          </tr>
          <tr *ngIf="workflowItem.payload.organizationURLUpdated == false">
            <th>Organization</th>
            <td>
              <p *ngIf="currentState?.organization.name == '' || currentState?.organization.name == null">(Empty)</p>
              <p *ngIf="currentState?.organization.name != '' && currentState?.organization.name != null"><a [routerLink]="['/validation-db/organizations/' + currentState.organization.id]">{{ currentState?.organization.name }}</a></p>
            </td>
            <td>(No Changes)</td>
          </tr>
          <tr>
            <th>Emails</th>
            <td>
              <ul *ngIf="currentState?.emailAddresses != null">
                <li *ngFor="let email of currentState?.emailAddresses">{{email}}</li>
              </ul>
              <p *ngIf="currentState?.emailAddresses?.length == 0">(No emails)</p>
              <p *ngIf="currentState?.emailAddresses?.length == null">(No API Support)</p>
            </td>
            <td *ngIf="workflowItem.payload.emailAddressesUpdated == true">
              <ul>
                <li *ngFor="let email of workflowItem?.payload?.emails">{{email}}</li>
              </ul>
            </td>
            <td *ngIf="workflowItem.payload.emailAddressesUpdated == false">(No Changes)</td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-3">
    <div class="card">
      <h5 class="card-header">Available Actions</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-primary" style="width:80%;" (click)="approveWorkflow()">&#10004; Approve</button></td>
          </tr>
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-danger" style="width:80%;" (click)="rejectWorkflow()">&#10006; Reject</button></td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->
</div>

<div class="row mt-3">

  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Proposed Phone Data</h5>
      <div class="card-body">
        <table class="table table-hover" *ngIf="workflowItem">
          <tbody>
            <tr *ngFor="let phone of workflowItem?.payload?.phoneNumbers; index as i">
              <th>{{phone.type}}</th>
              <td>{{phone.number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Existing Phone Data</h5>
      <div class="card-body">
        <table class="table table-hover" *ngIf="workflowItem">
          <tbody>
            <tr *ngFor="let phone of currentState?.phoneNumbers; index as i">
              <th>{{phone.type}}</th>
              <td>{{phone.number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->
</div>
