<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Delete OE</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th style="border:none;">Name</th>
            <td style="border:none;">{{ currentState?.name == null ? '[No Name Provided!]' :  currentState?.name }}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{ currentState?.type == null ? 'N/A' :  currentState?.type }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ currentState?.description == null ? 'N/A' :  currentState?.description }}</td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Available Actions</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-primary" style="width:80%;" (click)="approveWorkflow()">&#10004; Approve</button></td>
          </tr>
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-danger" style="width:80%;" (click)="rejectWorkflow()">&#10006; Reject</button></td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Depedency Information</h5>
      <div class="card-body">

        <table class="table">
          <tr *ngFor="let dependency of currentState?.dependencies">
            <td>
              <span class="bold-heading">{{ dependency.name === null ||  dependency.name === "" ? (Empty) : dependency.name }} (ID: <a [routerLink]="['/validation-db/dependencies/' + dependency.id]">{{dependency.id}}</a>)</span>
              <ul *ngFor="let key of objectKeys(dependency)">
                <li *ngIf="key != 'id'">
                  <span style="font-weight:bold;">
                    {{ key }} :
                  </span>
                  <span>
                    {{ dependency[key] }}
                  </span>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->
</div>
