<div class="container">

    <div class="col-lg-12">
        <div class="row mt-3">
            <h2>Current User</h2>
        </div>
    
    
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Claim Name</th>
                    <th>Claim Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let claim of claims | keyvalue ">
                    <td>{{ claim.key }}</td>
                    <td>{{ claim.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>