<div class="card">
  <h5 class="card-header">Available Actions</h5>
  <div class="card-body">
    <table class="table" *ngIf="workflowItem?.status === 'Pending'">
      <tr>
        <td style="border:none;text-align:center;"><button class="btn btn-primary" style="width:80%;" (click)="approveWorkflow()">&#10004; Approve</button></td>
      </tr>
      <tr>
        <td style="border:none;text-align:center;"><button class="btn btn-danger" style="width:80%;" (click)="rejectWorkflow()">&#10006; Reject</button></td>
      </tr>
    </table>
    <div style="text-align:center;" *ngIf="workflowItem?.status !== 'Pending'">
      No available actions
    </div>
  </div>
</div> <!-- Close Dependency Info Card -->
