<div *ngIf="workflowItem.status === 'Pending'">
  <div class="row mt-3">
    <div class="col-lg-9">
      <div class="card">
        <h5 class="card-header">Update Organization (ID: <a class="linkUnderline" [routerLink]="['/validation-db/organizations/' + workflowItem.payload.id]">{{workflowItem.payload.id}}</a>)</h5>
        <div class="card-body">
          <table class="table">
            <tr>
              <th style="border:none;"></th>
              <th style="border:none;">Existing</th>
              <th style="border:none;">Update</th>
            </tr>
            <tr>
              <th>Name</th>
              <td>{{ currentState?.name == "" || currentState?.name == null ? "(Empty)" : currentState?.name }}</td>
              <td>{{ workflowItem?.payload.name == "" || workflowItem?.payload.name == null ? "(Empty)" : workflowItem?.payload.name }}</td>
            </tr>
            <tr>
              <th>Link</th>
              <td>{{ currentState?.url == "" || currentState?.url == null ? "(Empty)" : currentState?.url }}</td>
              <td>{{ workflowItem?.payload.link == "" || workflowItem?.payload.link == null ? "(Empty)" : workflowItem?.payload.link }}</td>
            </tr>
            <!--<tr>
              <th>Name</th>
              <td>{{ currentState?.parent.url == "" || currentState?.parentUrl == null ? "(Empty)" : currentState?.parentUrl }}</td>
              <td>{{ workflowItem?.payload.parentUrl == "" || workflowItem?.payload.parentUrl == null ? "(Empty)" : workflowItem?.payload.parentUrl }}</td>
            </tr>-->
            <tr>
              <th>Voice Number</th>
              <td>{{ currentState?.voiceNumber == "" || currentState?.voiceNumber == null ? "(Empty)" : currentState?.voiceNumber }}</td>
              <td>{{ workflowItem?.payload.voiceNumber == "" || workflowItem?.payload.voiceNumber == null ? "(Empty)" : workflowItem?.payload.voiceNumber }}</td>
            </tr>
            <tr>
              <th>Fax Number</th>
              <td>{{ currentState?.faxNumber == "" || currentState?.faxNumber == null ? "(Empty)" : currentState?.faxNumber }}</td>
              <td>{{ workflowItem?.payload.faxNumber == "" || workflowItem?.payload.faxNumber == null ? "(Empty)" : workflowItem?.payload.faxNumber }}</td>
            </tr>
            <tr>
              <th>Emails</th>
              <td>
                <!--{{ currentState?.faxNumber == "" || currentState?.faxNumber == null ? "(Empty)" : currentState?.faxNumber }}-->
                <ul *ngIf="currentState?.emails != null">
                  <li *ngFor="let email of currentState?.emails">{{email}}</li>
                </ul>
                <p *ngIf="currentState?.emails?.length == 0">(No emails)</p>
                <p *ngIf="currentState?.emails?.length == null">(No API Support)</p>
              </td>
              <td>
                <ul>
                  <li *ngFor="let email of workflowItem?.payload?.emails">{{email}}</li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div> <!-- Close Dependency Info Card -->
    </div> <!-- Close col-lg-6 -->

    <div class="col-lg-3">
      <app-workflow-actions [wfItem]="workflowItem"></app-workflow-actions>
    </div> <!-- Close col-lg-6 -->
  </div>

  <div class="row mt-3">

    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Proposed Addresses</h5>
        <div class="card-body">
          <table class="table table-hover" *ngIf="workflowItem">
            <tbody>
              <tr *ngFor="let address of workflowItem?.payload?.addresses; index as i">
                <td>
                  {{ address.street1 }}<br />
                  <span *ngIf="address.street2 != null">{{ address.street2 }}<br /></span>
                  <span *ngIf="address.street3 != null">{{ address.street3 }}<br /></span>
                  {{ address.locality }}, {{ address.region }}, {{ address.country }} {{ address.postalCode }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- Close Dependency Info Card -->
    </div> <!-- Close col-lg-6 -->

    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Existing Addresses</h5>
        <div class="card-body">
          <table class="table table-hover" *ngIf="workflowItem">
            <tbody>
              <tr *ngFor="let address of currentState?.addresses; index as i">
                <td>
                  {{ address.street1 }}<br />
                  <span *ngIf="address.street2 != null">{{ address.street2 }}<br /></span>
                  <span *ngIf="address.street3 != null">{{ address.street3 }}<br /></span>
                  {{ address.locality }}, {{ address.region }}, {{ address.country }} {{ address.postalCode }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- Close Dependency Info Card -->
    </div> <!-- Close col-lg-6 -->
  </div>
</div>

<div class="col-lg-6" *ngIf="workflowItem.status === 'Approved'">
  <div class="card">
    <h5 class="card-header">Update Organization</h5>
    <div class="card-body">
      <a [routerLink]="['/validation-db/organizations/', workflowItem.acceptId]">View Resulting Object</a>
    </div>
  </div>
</div>
