<div class="row mt-3">
  <h2>Workflow {{ workflowItem.workflowItemID}}</h2>
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Create New Dependency</h5>
      <div class="card-body">
        <table class="table">
          <tr>
            <th style="border:none;">Name</th>
            <td style="border:none;">{{workflowItem?.payload.name}}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td>{{workflowItem?.payload.type}}</td>
          </tr>
          <!--<tr>
            <th>CPE</th>
            <td>{{workflowItem?.payload.cpe}}</td>
          </tr>-->
          <tr>
            <th>Description</th>
            <td>{{workflowItem?.payload.description}}</td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->

  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Available Actions</h5>
      <div class="card-body">
        <table class="table" style="">
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-primary" style="width:80%;">&#10004; Approve</button></td>
          </tr>
          <tr>
            <td style="border:none;text-align:center;"><button class="btn btn-danger" style="width:80%;">&#10006; Reject</button></td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->
</div>

<div class="row mt-3">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">(Optional) User-Defined Attributes</h5>
      <div class="card-body">
        <table class="table">
          <tr *ngFor="let pair of workflowItem.payload | keyvalue">
            <th style="border:none;" *ngIf="pair.key != 'id' && pair.key != 'name' && pair.key != 'type' && pair.key != 'description' && pair.key != 'url'">
              {{ pair.key }}
            </th>
            <td style="border:none;" *ngIf="pair.key != 'id' && pair.key != 'name' && pair.key != 'type' && pair.key != 'description' && pair.key != 'url'">
              {{ pair.value }}
            </td>
          </tr>
        </table>
      </div>
    </div> <!-- Close Dependency Info Card -->
  </div> <!-- Close col-lg-6 -->
</div>
