.bold-heading {
    font-weight: bold;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr[ng-reflect-router-link], tr[data-target] {
  cursor: pointer;
}

.linkUnderline {
  color: blue;
  text-decoration: underline;
}

ul.unstyled-indented {
  list-style-type: none;
}

table.voa > tbody > tr > td {
  vertical-align: text-top;
}
